* {
    margin: 0px;

}



nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #03C7A6;
    color: #FFF;

}

#nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 300px;
}

#nav-list a {
    padding: 20px;
}

h1 h2 h3 h4 h5 h6 {
    color: #7A7B7A;
}

#welcome-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 1.75rem;
}

/* "Automagic" image grid using no media queries */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }